#sidepanel {
    min-height: 50vh;
    background: linear-gradient(45deg, #fff, #1f69a9) !important;
}

#sidepanel p {
    font-size: 1.5rem;
}

.btn, input {
    border-radius: 20px !important;
}

@media only screen and (min-width: 767px) {
    #sidepanel {
        min-height: 94vh;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}