<div>
    <div class="card m-auto" style="width: 30rem;">
        <table class="table">
            <tbody>
                <tr>
                    <td class="border-bottom border-right">
                        <div>
                            <h1 class="display-2">20&deg; C</h1>
                            <p><strong>20&deg;C - 30&deg;C</strong></p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>Coimbatore<small class="text-muted">(IN)</small></p>
                        </div>
                        <div>
                            <strong><small>Lattitude: 28.7778</small></strong>
                        </div>
                        <div>
                            <strong><small>Longitude: 76.7778</small></strong>
                        </div>
                    </td>
                </tr>
            </tbody>
            <div class="card-body">
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <p><strong>Weather: </strong> Cloudy</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Pressure: </strong> 10<small class="text-muted"> Pa</small></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Humidity: </strong> 123</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Wind Speed: </strong> 30 <small class="text-muted">Km/hr</small></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </table>
    </div>
</div>