{% if weather_data %}
<div>
    <div class="card m-auto" style="width: 30rem;">
        <table class="table">
            <tbody>
                <tr>
                    <td class="border-bottom border-right">
                        <div>
                            <h1 class="display-2">{{ weather_data.temp }}&deg; C</h1>
                            <p><strong>{{ weather_data.temp_min }}&deg;C - {{ weather_data.temp_max }}&deg;C</strong></p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>{{weather_data.city_name}}<small class="text-muted">({{weather_data.country_name}})</small></p>
                        </div>
                        <div>
                            <strong><small>Lattitude: {{weather_data.lat}}</small></strong>
                        </div>
                        <div>
                            <strong><small>Longitude: {{weather_data.lon}}</small></strong>
                        </div>
                    </td>
                </tr>
            </tbody>
            <div class="card-body">
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <p><strong>Weather: </strong> {{weather_data.weather}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Pressure: </strong> {{weather_data.pressure}}<small class="text-muted"> Pa</small></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Humidity: </strong> {{weather_data.humidity}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Wind Speed: </strong> {{weather_data.wind_speed}} <small class="text-muted">Km/hr</small></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </table>
    </div>
</div>
{% else %}
<div class="card m-auto" style="width: 30rem;">
    <div class="card-body">
        <h3>Data Not found</h3>
    </div>
</div>
{% endif %}